@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  transition: background .3s;
  background-color: #ededed;
}

.root {
  margin: 50px 0;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
}

.preview h4 {
  cursor: default;
  font-size: 25px;
  font-weight: 700;
  color: #333;
}

.prev-img {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 30px;
  height: 30px;
  margin-left: 7px;
  background: url('../img/logo.png') center center no-repeat;
  background-size: contain;
}

.game_interface {
  margin-top: 15px;
}

.template_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.template_form-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #ddd;
}

#template_square {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ddd;
  transition: all .3s;
}

.template_square_middle {
  background-color: #3e78de !important;
}

#template_square:hover,
.game_grid-block:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scale(1.1);
}

.game_arena {
  width: 100%;
  margin: 20px 0;
}

.game_arena-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game_grid {
  border: 1px solid #ddd;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.game_grid-block {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all .3s;
  border: 1px solid #ddd;
  background-color: #fff;
}
